<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.wada811.android.library.demos"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--
         ____        _           _        _        _   _       _ _         
        / ___| _ __ | | __ _ ___| |__    / \   ___| |_(_)_   _(_) |_ _   _ 
        \___ \| '_ \| |/ _` / __| '_ \  / _ \ / __| __| \ \ / / | __| | | |
         ___) | |_) | | (_| \__ \ | | |/ ___ \ (__| |_| |\ V /| | |_| |_| |
        |____/| .__/|_|\__,_|___/_| |_/_/   \_\___|\__|_| \_/ |_|\__|\__, |
              |_|                                                    |___/ 
        -->
        <activity
            android:name="at.wada811.android.library.demos.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
         __  __       _          _        _   _       _ _         
        |  \/  | __ _(_)_ __    / \   ___| |_(_)_   _(_) |_ _   _ 
        | |\/| |/ _` | | '_ \  / _ \ / __| __| \ \ / / | __| | | |
        | |  | | (_| | | | | |/ ___ \ (__| |_| |\ V /| | |_| |_| |
        |_|  |_|\__,_|_|_| |_/_/   \_\___|\__|_| \_/ |_|\__|\__, |
                                                            |___/ 
        -->
        <activity
            android:name="at.wada811.android.library.demos.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <!--
         ____  _       _             _____                                     _   
        |  _ \(_) __ _| | ___   __ _|  ___| __ __ _  __ _ _ __ ___   ___ _ __ | |_ 
        | | | | |/ _` | |/ _ \ / _` | |_ | '__/ _` |/ _` | '_ ` _ \ / _ \ '_ \| __|
        | |_| | | (_| | | (_) | (_| |  _|| | | (_| | (_| | | | | | |  __/ | | | |_ 
        |____/|_|\__,_|_|\___/ \__, |_|  |_|  \__,_|\__, |_| |_| |_|\___|_| |_|\__|
                               |___/                |___/                          
        -->
        <activity
            android:name="at.wada811.android.library.demos.fragment.ProgressDialogFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        __     ___     _            _____                                     _   
        \ \   / (_) __| | ___  ___ |  ___| __ __ _  __ _ _ __ ___   ___ _ __ | |_ 
         \ \ / /| |/ _` |/ _ \/ _ \| |_ | '__/ _` |/ _` | '_ ` _ \ / _ \ '_ \| __|
          \ V / | | (_| |  __/ (_) |  _|| | | (_| | (_| | | | | | |  __/ | | | |_ 
           \_/  |_|\__,_|\___|\___/|_|  |_|  \__,_|\__, |_| |_| |_|\___|_| |_|\__|
                                                   |___/                          
        -->
        <activity
            android:name="at.wada811.android.library.demos.fragment.VideoFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         _____                                     _   
        |  ___| __ __ _  __ _ _ __ ___   ___ _ __ | |_ 
        | |_ | '__/ _` |/ _` | '_ ` _ \ / _ \ '_ \| __|
        |  _|| | | (_| | (_| | | | | | |  __/ | | | |_ 
        |_|  |_|  \__,_|\__, |_| |_| |_|\___|_| |_|\__|
                        |___/                          
        -->
        <activity
            android:name="at.wada811.android.library.demos.fragment.SwitchFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         ____              ____                           
        |  _ \  __ _ _   _|  _ \ _ __ ___  __ _ _ __ ___  
        | | | |/ _` | | | | | | | '__/ _ \/ _` | '_ ` _ \ 
        | |_| | (_| | |_| | |_| | | |  __/ (_| | | | | | |
        |____/ \__,_|\__, |____/|_|  \___|\__,_|_| |_| |_|
                     |___/                                
        -->
        <activity
            android:name="at.wada811.android.library.demos.daydream.DayDreamSettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="at.wada811.android.library.demos.daydream.DayDreamDemo"
            android:exported="false"
            android:label="@string/DayDreamDemo" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/daydream" />
        </service>
        <service
            android:name="at.wada811.android.library.demos.daydream.DayDreamLauncher"
            android:exported="false"
            android:label="@string/DayDreamLauncher" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity
            android:name="at.wada811.android.library.demos.daydream.DayDreamActivity"
            android:label="@string/app_name" >
        </activity>
        <!--
          ____ _          _      ___                          __     ___               
         / ___(_)_ __ ___| | ___|_ _|_ __ ___   __ _  __ _  __\ \   / (_) _____      __
        | |   | | '__/ __| |/ _ \| || '_ ` _ \ / _` |/ _` |/ _ \ \ / /| |/ _ \ \ /\ / /
        | |___| | | | (__| |  __/| || | | | | | (_| | (_| |  __/\ V / | |  __/\ V  V / 
         \____|_|_|  \___|_|\___|___|_| |_| |_|\__,_|\__, |\___| \_/  |_|\___| \_/\_/  
                                                     |___/                              
        -->
        <activity
            android:name="at.wada811.android.library.demos.widget.CircleImageActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:theme="@style/circle_image_activity_style" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         _____ _ _      _    _____                _     _     _     _                  
        |  ___| (_) ___| | _|_   _|__  _   _  ___| |__ | |   (_)___| |_ ___ _ __   ___  _ __
        | |_  | | |/ __| |/ / | |/ _ \| | | |/ __| '_ \| |   | / __| __/ _ \ '_ \ / _ \ | '__|
        |  _| | | | (__|   <  | | (_) | |_| | (__| | | | |___| \__ \ ||  __/ | | |  __/ | |   
        |_|   |_|_|\___|_|\_\ |_|\___/ \__,_|\___|_| |_|_____|_|___/\__\___|_| |_|\___| |_|   
        -->
        <activity
            android:name="at.wada811.android.library.demos.view.FlickActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         _____                     _             ____                  _          
        | ____|_  _____  ___ _   _| |_ ___  _ __/ ___|  ___ _ ____   _(_) ___ ___ 
        |  _| \ \/ / _ \/ __| | | | __/ _ \| '__\___ \ / _ \ '__\ \ / / |/ __/ _ \
        | |___ >  <  __/ (__| |_| | || (_) | |   ___) |  __/ |   \ V /| | (_|  __/
        |_____/_/\_\___|\___|\__,_|\__\___/|_|  |____/ \___|_|    \_/ |_|\___\___|
        -->
        <activity
            android:name="at.wada811.android.library.demos.concurrent.ExecutorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
            _                        _____         _    _                    _      
           / \   ___ _   _ _ __   __|_   _|_ _ ___| | _| |    ___   __ _  __| | ___  _ __  
          / _ \ / __| | | | '_ \ / __|| |/ _` / __| |/ / |   / _ \ / _` |/ _` |/ _ \| '__|
         / ___ \\__ \ |_| | | | | (__ | | (_| \__ \   <| |__| (_) | (_| | (_| |  __/| |   
        /_/   \_\___/\__, |_| |_|\___||_|\__,_|___/_|\_\_____\___/ \__,_|\__,_|\___||_|  
                     |___/                                                          
        -->
        <activity
            android:name="at.wada811.android.library.demos.loader.LoaderListActivity"
            android:label="@string/app_name"
            android:permission="android.permission.INTERNET" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
                              _                     _             _ 
         ___ _   _ _ __   ___| |__  _ __ ___  _ __ (_)_______  __| |
        / __| | | | '_ \ / __| '_ \| '__/ _ \| '_ \| |_  / _ \/ _` |
        \__ \ |_| | | | | (__| | | | | | (_) | | | | |/ /  __/ (_| |
        |___/\__, |_| |_|\___|_| |_|_|  \___/|_| |_|_/___\___|\__,_|
             |___/                                                  
        -->
        <activity
            android:name="at.wada811.android.library.demos.concurrent.SynchronizedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         _____               _            
        |_   _|__   __ _ ___| |_ ___ _ __ 
          | |/ _ \ / _` / __| __/ _ \ '__|
          | | (_) | (_| \__ \ ||  __/ |   
          |_|\___/ \__,_|___/\__\___|_|   
        -->
        <activity
            android:name="at.wada811.android.library.demos.widget.ToasterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="at.wada811.widget.ToasterService" />
        <!--
        __     ___               ____                       
        \ \   / (_) _____      _|  _ \ __ _  __ _  ___ _ __ 
         \ \ / /| |/ _ \ \ /\ / / |_) / _` |/ _` |/ _ \ '__|
          \ V / | |  __/\ V  V /|  __/ (_| | (_| |  __/ |   
           \_/  |_|\___| \_/\_/ |_|   \__,_|\__, |\___|_|   
                                            |___/            
        -->
        <activity
            android:name="at.wada811.android.library.demos.view.ViewPagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         ____                            
        / ___|  ___ _ __  ___  ___  _ __ 
        \___ \ / _ \ '_ \/ __|/ _ \| '__|
         ___) |  __/ | | \__ \ (_) | |   
        |____/ \___|_| |_|___/\___/|_|   
        -->
        <activity
            android:name="at.wada811.android.library.demos.fragment.SensorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
            _        _   _             ____             
           / \   ___| |_(_) ___  _ __ | __ )  __ _ _ __ 
          / _ \ / __| __| |/ _ \| '_ \|  _ \ / _` | '__|
         / ___ \ (__| |_| | (_) | | | | |_) | (_| | |   
        /_/   \_\___|\__|_|\___/|_| |_|____/ \__,_|_|   
        -->
        <activity
            android:name="at.wada811.android.library.demos.app.TabActionBarActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.wada811.android.library.demos.app.TabIconTitleActionBarActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.wada811.android.library.demos.app.TabLongTitleActionBarActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.wada811.android.library.demos.app.TabMoreTitleActionBarActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.wada811.android.library.demos.app.TabViewPagerActionBarActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         _     _     _   _____                                     _   
        | |   (_)___| |_|  ___| __ __ _  __ _ _ __ ___   ___ _ __ | |_ 
        | |   | / __| __| |_ | '__/ _` |/ _` | '_ ` _ \ / _ \ '_ \| __|
        | |___| \__ \ |_|  _|| | | (_| | (_| | | | | | |  __/ | | | |_ 
        |_____|_|___/\__|_|  |_|  \__,_|\__, |_| |_| |_|\___|_| |_|\__|
                                        |___/                          
        -->
        <activity
            android:name="at.wada811.android.library.demos.view.IndexingListViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>